body {
    margin: 0;
    background: #2F2D2E;
    font-family: Saira, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #B02841;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
  
    
}