@import url('https://fonts.googleapis.com/css2?family=Saira:100,200,300,400,500,600');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F3F0EE;
}


/*----------------------------------------Header Section*/

.navbar {
    align-items: center;
    background-color: #2f2d2e;
    color: #b02841;
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
}

.navbar .navbar-brand {
    color: #b02841;
    font-family: Saira, sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar .navbar-nav .nav-link {
    color: #b02841;
    font-family: Saira, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.navbar .navbar-nav .nav-link:hover {
   background-color: rgba(229, 229, 229, 0.13);
}


/*----------------------------------------Header Section*/

/*----------------------------------------Home page photos*/

.wrapper {
    display: grid;
    grid-template-rows: 300px ;
    grid-template-columns: 450px 450px 450px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
  }

.picture-01 img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    padding-top: 15px;
  }

  .picture-02 img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    padding-top: 15px;
  }

  .picture-03 img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    padding-top: 15px;
  }

  .picture-01 {
      background-color: lightblue;
  }

  .picture-02 {
      background-color: lightgray;
  }

  .picture-03 {
      background-color: lightseagreen
  }

/*----------------------------------------Home page photos*/

/*----------------------------------------Home page text*/

.home-page-intro-text {
    font-family: Saira, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #2F2D2E;
    text-align: center;
    margin: auto;
    width: 1065px;
    height: 300px;
    line-height: 1.25em;
    margin-bottom: 20px;
    padding-top: 10px;
}

/*----------------------------------------Home page text*/

/*----------------------------------------Footer Section*/

footer {
    height: 70px;
    background: #2f2d2e;
    margin: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-items {
    text-align: center;
}

.footer-items li {
    display: inline;
}

.container-fluid {
    position: absolute;
    bottom: 0;
}

.social-network-icons {
    text-align: center;
}

.social-network-icons li {
    display: inline;
}

.social-network-icons i {
    font-size: 150%;
    margin: 15px;
    padding: 10px;
    color: #b02841;
}

/*----------------------------------------Footer Section*/

/*----------------------------------------Destinations page*/

.container {
    font-family: Saira, sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #2F2D2E;
    text-align: center;
    margin: auto;
    width: 250px;
    height: 50px;
    text-transform: uppercase;
    padding: 5px;
}

/*----------------------------------------Destinations page*/

/*----------------------------------------Tours page*/

.container {
    font-family: Saira, sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #2F2D2E;
    text-align: center;
    margin: auto;
    width: 250px;
    height: 50px;
    text-transform: uppercase;
    padding: 5px;
}

/*----------------------------------------Tours page*/

/*----------------------------------------Gallery page*/

.container {
    font-family: Saira, sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #2F2D2E;
    text-align: center;
    margin: auto;
    width: 250px;
    height: 50px;
    text-transform: uppercase;
    padding: 5px;
}

/*----------------------------------------Gallery page*/

/*----------------------------------------Contact page*/

.container {
    font-family: Saira, sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #2F2D2E;
    text-align: center;
    margin: auto;
    width: 250px;
    height: 50px;
    text-transform: uppercase;
    padding: 5px;
}

.contact-form{
	background: #F3F0EE;
    font-family: Saira, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: auto;
    text-transform: uppercase;
    max-width: 500px;
    max-height: 780px;
    display: block;
    border: 2px solid #b02841;
    padding: 20px;
    border-radius: 25px;
}

.contact-form-intro-text {
    font-family: Saira, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2F2D2E;
    text-align: center;
    margin: auto;
    text-transform: none;
}

label {
    width: 150px;
    display: inline-block;
}

.sign-up-button {
    color: #F3F0EE;
    background-color: #b02841;
    text-transform: uppercase;
    width: 200px;
    margin-left: 155px;
    margin-top: 5px;
    border-radius: 20px;
}

input {
    background-color: #b02841;
    color: #F3F0EE;
    border-radius: 20px;
}

textarea {
    background-color: #b02841;
    color: #F3F0EE;
    border-radius: 20px;
}

::placeholder {
    color: #F3F0EE;
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 10px;
}

/*----------------------------------------Contact page*/

/*----------------------------------------Media queries*/

@media (max-width: 600px) {
    .navbar {
        align-items: flex-start;
        flex-direction: column;
    }

/*----------------------------------------Media queries*/