@import url('https://fonts.googleapis.com/css2?family=Saira:100,200,300,400,500,600');


header {
    margin: 0;
}

.logo {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70px;
}